.header {
    background-image: url(../public/images/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position: right -6.25rem bottom -6.25rem;
  }

  .headingText {
    max-width: 28.5625rem;
    line-height: 1.75rem;
  }

  /* Director Section */

  .directorSection {
    background-color: var(--third-background-color);
    background-image: url(../public/images/bg-pattern-about-2-contact-1.svg), url(../public/images/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -6.25rem left -6.25rem, right bottom;
  }

  .heading2 {
    color: var(--font-color);
    text-align: center;

  }

  /* Clients section */

  .clients {
    background-color: var(--second-background-color);
    background-image: url(../public/images/bg-pattern-about-4.svg);
    background-repeat: no-repeat;
    background-position: top -6.25rem left;
  }

  .heading2 {
    color: var(--font-color);
  }
  @media(min-width:48rem) {
    .header {
        background-position: right -6.25rem bottom;
    }
  }

  @media(min-width:80rem) {
    .bar {
        display: block;
        position: relative;
        top: -2.5rem;
        left: 0rem;
        width: 3.125rem;
        height:0.25rem;
        background-color: var(--second-color);
      }

    .heading {
        font-size: 4rem;
        font-weight: 700;
        line-height: 6.25rem;
        letter-spacing: 0rem;
        text-align: left;
    }

    .headingText {
        text-align: left;
        min-width: 45.625rem;
        max-width: 45.625rem;
    }

    .clients {
      background-position: top left;
    }
  }