.headerText {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: center;
    color: var(--second-color);
}

@media(min-width:48rem) {

    .header {
        background-image: url(../public/images/bg-pattern-about-2-contact-1.svg);
        background-repeat: no-repeat;
        background-position: top 5rem left -6.25rem;
    }
    .headerText {
        font-size: 2rem;
        line-height: 3rem;
    }   
    
    
}

@media(min-width:80rem) {
    .contactCardContainer {
        width: 33.75rem;
    } 

    .contact {
        max-height: 100vh;
    }
}