.directorCard {
    background-color: var(--second-background-color);
    height: 15.8125rem;
    position: relative;
}


.avatar {
    border-radius: 50%;
    border: 0.125rem solid #C4FFFE;
}

.heading3 {
    color: var(--sub-heading-color);
}

.title {
    font-size: 0.9375rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: 0rem;
    text-align: center;
}

.button {
    background-color: var(--second-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -1.75rem;
    transition: background-color 500ms;
}

.lightBtn {
    background-color: var(--sub-heading-color); 
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover,
    .lightBtn:hover,
    .socialIcon:hover {
      cursor: pointer;
    }

    .button:hover {
        background-color: var(--sub-heading-color);
    }

    .lightBtn:hover {
        background-color: var(--second-color);
    }

    .socialIcon:hover path {
        fill: var(--second-color);
    }
  
  }