.directorCard {
    background-color: var(--second-background-color);
    height: 253px;
    position: relative;
}


.avatar {
    border-radius: 50%;
    border: 2px solid #C4FFFE;
}

.heading3 {
    color: var(--sub-heading-color);
}

.title {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.button {
    background-color: var(--second-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    bottom: -28px;
    transition: background-color 500ms;
}

.lightBtn {
    background-color: var(--sub-heading-color); 
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover,
    .lightBtn:hover,
    .socialIcon:hover {
      cursor: pointer;
    }

    .button:hover {
        background-color: var(--sub-heading-color);
    }

    .lightBtn:hover {
        background-color: var(--second-color);
    }

    .socialIcon:hover path {
        fill: var(--second-color);
    }
  
  }