.navLink {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.address,
.copyright {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--second-font-color);
    font-style: normal;     
}

.footer {
    background-color: var(--footer-background-color);
}


@media(min-width:768px) {
    .footer {
        display: grid;
        grid-template-areas: 
        "logo address"
        "links address"
        "social copyright";
    }

    .logo {
        grid-area: logo;
    }

    .address {
        grid-area: address;
        text-align: right;
        margin-right: 10px;
    }

    .navLinks {
        grid-area: links;
    }

    .socialLinksContainer {
        grid-area: social;
    }

    .copyright {
        grid-area: copyright;
        text-align: right;
    }
}

@media(min-width:1200px) {
    .footer {
        padding-left: 11.5%;
        padding-right: 11.5%;
        grid-template-areas: 
        "logo address . social"
        "links address . copyright";
    }

    .logo {
        width: 160px;
        height: 40px;
    }

    .address {
        text-align: left;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .socialIcon:hover path {
      cursor: pointer;
      fill: var(--second-color);
    }

    .navLink:hover {
        cursor: pointer;
        color: var(--second-color);
    }
  
  }