/* typography */
.input {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.11538461595773697px;
    text-indent: 16px;
}
.input::placeholder {
    color: var(--input-placeholder-color);
}

.input:focus::placeholder{
    color: var(--second-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.11538461595773697px;
}

.button {
    background-color: var(--font-color);
    color: var(--main-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    width: 123px;
}

.labelVisuallyHidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

/* end typography */

.form {
    background-image: url(../public/images/bg-pattern-contact-2.svg);
    background-repeat: no-repeat;
    background-position: bottom -100px right -112px;
}
.input {
    height: 42px;
    width: 100%;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--input-placeholder-color);
}


.input:focus {
    outline: none;
    border-bottom: 1px solid#79C8C7; 
}

.textarea {
    height: 107px;
}

.error {
    align-self: flex-start;
    margin-left: 14px;
    margin-top: -16px;
}

.error .errorText {
    color: var(--second-color);
}

.success {
    font-size: 20px;
    color: var(--second-color);
}

@media(min-width:768px) {
    .input {
        width: 542px;
    }
}
@media(min-width:1280px) {
    .form {
        width: 703px;
    }

    .input {
        width: 100%;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover {
      cursor: pointer;
      background-color: var(--main-color);
      color: var(--font-color);
    }

    .input:hover {
        cursor: pointer;
    }

    .input:hover::placeholder {
        color: var(--second-color);
        opacity: 0.6;
    }

  }

