.getStarted {
    background-color: var(--second-color);
    background-image: url(../public/images/bg-pattern-home-6-about-5.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0rem;
    text-align: center;
    color: var(--main-color);
}

.button {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    color: var(--main-color);
    border-color: var(--main-color);
}

@media(min-width:48rem) {
    .heading {
        font-size: 2rem;
        line-height: 2rem;
        margin-left: auto;
    }
}

@media(min-width:75rem) {
    .heading {
        font-size: 3rem;
        line-height: 3rem;
        text-align: left;
    }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover {
      cursor: pointer;
      background-color: var(--main-color);
      color: var(--font-color);
    }
  
  }