/* typography */
.heading2,
.deliveringHeading2 {
  color: var(--font-color);
}

.heading3 {
  color: var(--second-color);
}

/* heading section */
.header {
  background-image: url(../public/images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.headingSpan {
  color: var(--second-color);
}

.bar {
  display: none;
}
.headingText {
  line-height: 1.75rem;
}

/* build section */

.build {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-background-color);
  background-image: url('../public/images/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-position: right -6.25rem top;
}

.buildContainer {
  max-width: 35.8125rem;
}
.mainBar {
  background-color: var(--second-color);
  height: 0.25rem;
  width: 3.125rem;
}

/* delivering section */

.delivering {
  /* border: 0.125rem solid red; */
  background-image: url('../public/images/bg-pattern-home-4-about-3.svg'), url('../public/images/bg-pattern-home-5.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}
.deliveringHeading2 {
  text-align: center;
}

.deliveringHeading2Span {
  color: var(--sub-heading-color);
}

@media(min-width:48rem) {
  /* header section */
  .header {
    background-size: unset;
  }

  .headingText {
    max-width: 28.5625rem;
  }

  /* delivering section */
  .deliveringHeading2Span {
    display: block;
  }
}

@media(min-width:80rem) {

/* header */
  .header {
    padding-left: 11.5%;
    padding-right: 11.5%;
    background-image: url(../public/images/bg-pattern-home-2.svg), url(../public/images/bg-pattern-home-1.svg);
    background-repeat: no-repeat;
    background-position: right 15% bottom, left -6.25rem top 8.0625rem;
    background-size: unset;
  }
  .heading {
    width: 39.6875rem;
  }

  .bar {
    display: block;
    position: relative;
    bottom: 4.9375rem;
    left: 0rem;
    width: 3.125rem;
    height:0.25rem;
    background-color: var(--sub-heading-color);
  }
  .headingText {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
    width: 27.8125rem;
  }

  /* build section */
 
  .build {
    background-position: right -6.25rem bottom;
  }
  .buildContainer {
    max-width: 69.375rem;
  }

  /* delivering section */
  .deliveringHeading2Span {
    display: inline;
  }
}

