/* typography */
.heading2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--font-color);
}


.header {
  background-image: url(../public/images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.headingSpan {
  color: var(--second-color);
}

.bar {
  display: none;
}
.headingText {
  line-height: 28px;
}

.build {
  background-color: var(--second-background-color);
}

.mainBar {
  background-color: var(--second-color);
  height: 4px;
  width: 50px;
}

@media(min-width:768px) {

  .header {
    background-size: unset;
  }

  .headingText {
    max-width: 457px;
  }
}

@media(min-width:1280px) {

  .header {
    padding-left: 11.5%;
    padding-right: 11.5%;
    background-image: url(../public/images/bg-pattern-home-2.svg), url(../public/images/bg-pattern-home-1.svg);
    background-repeat: no-repeat;
    background-position: right 15% bottom, left -100px top 129px;
    background-size: unset;
  }
  .heading {
    width: 635px;
  }

  .bar {
    display: block;
    position: relative;
    bottom: 79px;
    left: 0px;
    width: 50px;
    height:4px;
    background-color: var(--sub-heading-color);
  }
  .headingText {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    width: 445px;
  }
}

