/* Typography  */
.link {
    font-family: var(--font-family);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    text-align: left;
    color: var(--font-color);
    }

.nav {
    margin-left: auto;
    margin-right: auto;
}

.navClosedContainer {
    width: 100%;
}
.navClosed {
    transition: transform 0.3s ease-in-out; 
    transform: translateX(100vw);
} 

.navScreenOverLay {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000079;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(0%);
}

.navContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 15.9375rem;
    height: 100vh;
    background: var(--main-color);
}

@media(min-width:48rem) {
    .navLinks {
        width: 100%;
    }
}

@media(min-width:62.5rem) {
    .nav {
        padding-left: 11.5%;
        padding-right: 11.5%;
    }
    .logo {
        width: 10rem;
        height: 2.5rem;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .hamburgerMenu:hover g,
    .closeMenu:hover path {
      fill: var(--second-color);
    }

    .button:hover {
        opacity: 59%;
    }
  
  }






