.quote {
    background-image: url(../public/images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.heading3 {
    color: var(--sub-heading-color);
}

.position {
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: 0rem;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    border: 0.125rem solid #C4FFFE;
}